<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nercms.schedule"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

	<supports-screens android:normalScreens="true"
		android:smallScreens="true" android:largeScreens="true"
		android:anyDensity="true" />
	<uses-feature android:name="android.hardware.bluetooth"
		android:required="false" />
	<uses-feature android:name="android.hardware.location"
		android:required="false" />
	<uses-feature android:name="android.hardware.location.gps"
		android:required="false" />
	<uses-feature android:name="android.hardware.telephony"
		android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen"
		android:required="false" />
	<uses-feature android:name="android.hardware.wifi"
		android:required="false" />
	<uses-feature android:name="android.hardware.camera"
		android:required="false" />

    <application
        android:name="MultimediaCommunicatorApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <!-- Service -->
		<service android:name=".sip.engine.sipua.ui.RegisterService" />

		<!-- BroadcastReceiver -->
		<receiver android:name=".sip.engine.sipua.ui.OnReRegister" />
		<receiver android:name=".sip.engine.sipua.ui.LoopRegister" />
		<receiver android:name=".sip.engine.sipua.ui.LoopAlarm" />
		<receiver android:name=".sip.engine.sipua.ui.OwnWifi" />
		<receiver android:name=".sip.engine.sipua.ui.OneShotLocation" />
		<receiver android:name=".sip.engine.sipua.ui.LoopLocation" />
		<receiver android:name=".sip.engine.sipua.ui.Caller">
			<intent-filter android:priority="-1">
				<action android:name="android.intent.action.NEW_OUTGOING_CALL" />
			</intent-filter>
		</receiver>

		<receiver android:name=".sip.engine.sipua.ui.SipdroidReceiver"
			android:enabled="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
				<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_REPLACED" />
				<data android:scheme="package" />
				<data android:path="org.sipdroid.sipua" />
			</intent-filter>
		</receiver>
		
    </application>
    
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<!-- uses-permission android:name="android.permission.MODIFY_PHONE_STATE" -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />

	<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.RECORD_VIDEO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

	<uses-permission android:name="android.permission.SEND_SMS" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
	<uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

</manifest>
